@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Store Starting implementation", "Index", "Store")</li>
    <li>@Html.ActionLink("Store EDA implementation", "Index", "StoreEDA")</li>
    <li>@Html.ActionLink("Store F# EDA implementation", "Index", "StoreEDAFSharp")</li>
</ul>